<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cabeza.css">
    <title>Index</title>
</head>
<body>
    <header>
        <a id="logo" href="/">
            <img id="contenedor-logo__img" src="/css/imagenes/logo.jpg" alt="logo">
            <h1>liceo secundario félix evaristo mejía</h1>
        </a>
        <nav id="barra-navegacion">
            <a href="/calificaciones">calificaciones</a>
            <a href="/acercade">acerca de</a>
            <a href="/acceder">acceder</a>
        </nav>
    </header>