<%- include('./partials/cabeza.ejs') %>


<link rel="stylesheet" href="/css/acercaDe.css">

    <main>
        <section id="seccion-principal">
            <div class="elementos-seccion-principal">
                <h1>Centro Modalidad en Artes Félix Evaristo Mejia</h1>
            </div>
            <img class="elementos-seccion-principal" src="/css/imagenes/acercaDe1.jpg" alt="liceo">
        </section>
        <section class="secciones">
            <div class="secciones__contenedor-informacion">
                <h2>contextualizaciòn</h2>
                <p>
                    El Centro Félix Evaristo Mejía, está ubicado en el municipio de Villa Altagracia, Provincia San Cristóbal. Este municipio pertenece a la Región Suroeste, limita al Norte con la Provincia Monseñor Nouel y al Sur con la Provincia San Cristóbal, al Este con la Provincia Monte Plata y el Distrito Nacional y al Oeste con el Distrito Municipal de Los Cacaos, San Cristóbal. Este Municipio posee una superficie territorial de 43,853Km cuadrados, es uno de los mayores núcleos de precipitación que se registra en el país. 
                </p>
            </div>
            <img src="/css/imagenes/acercaDe2.jpg" alt="nombre del centro">

        </section>
        <section class="secciones">
            <div class="secciones__contenedor-informacion">
                <h2>historia del centro</h2>
                <p>
                    El Centro de Jornada Escolar Extendida Félix Evaristo Mejía inicia en el año escolar 2015-2016 producto del flujo de estudiantes que era egresados de la educación primaria y por la carencia de un centro de un centro educativo de educación secundaria en la comunidad del V Centenario, debían desplazarse aproximadamente 2 Km al pueblo de Villa Altagracia para continuar sus estudios. Muchos de ellos corriendo el riesgo de poner en peligro sus vidas porque el medio de transporte más asequible es el moto concho, mientras que otros tenían que abandonar los estudios por escasez de recursos para cubrir los gastos.
                </p>
            </div>
            <img src="/css/imagenes/acercaDe3.jpg" alt="nombre del centro">
        </section>
        <section class="secciones" id="seccion-objectivos">
            <div>
                <h3>mision</h3>
                <p>
                    El Centro Secundario Félix Evaristo Mejía Abreu se propone impartir una formación integral de calidad en conocimientos como en competencias, que satisfaga las necesidades educativas del alumnado y sus familias, trabajar una enseñanza en valores que les permita aportar a la sociedad e insertarse a la educación superior.
                </p>
            </div>
            <div>
                <h3>visiòn</h3>
                <p>
                    Ser un Centro Educativo de calidad para que nuestros egresados sean líderes competentes, capaces de contribuir al desarrollo de la comunidad, que sean ciudadanos críticos, autocríticos, democráticos y dotados de valores.
                </p>

            </div>
            <div>
                <h3>valores</h3>
                <p>
                    Responsabilidad, Solidaridad, Democracia, Justicia, Honestidad, Tolerancia, Disciplina:   
                </p>
            </div>

        </section>
        <section class="secciones">
            <div id="mapa">

            </div>

        </section>
    </main>
    
    <footer id="pie-letra">
        <div id="contenedor-pie">
            <h4>redes sociales</h4>
            <div>
                <a href="https://www.facebook.com/FelixEvaristo.Mejia.A">facebook</a>
                <a href="#">Instagram</a>
            </div>
        </div>
    </footer>


    <script src="../js/acercaDe.js"></script>
