<%- include('./partials/cabeza.ejs') %>

<link rel="stylesheet" href="/css/index.css">

    <main>
        <section id="seccion-imagenes-deslizante" class="secciones">
            <div  id="contenedor-imagenes-deslizantes">
                <ul>
                    <li><img src="../css/imagenes/imagen-deslizante-1.jpg" alt="imagen deslizante 1"></li>
                    <li><img src="../css/imagenes/imagen-deslizante-2.jpg" alt="imagen deslizante 2"></li>
                    <li><img src="../css/imagenes/imagen-deslizante-3.jpg" alt="imagen deslizante 3"></li>
                    <li><img src="../css/imagenes/imagen-deslizante-4.jpg" alt="imagen deslizante 4"></li>
                </ul>
            </div>
        </section>
        <section id="seccion-modalidades" class="secciones">
            <div id="contenedor-modalidades">
                <h2>modalidades</h2>

                <div class="modalidades">
                    <img src="/css/imagenes/modalidadesArte.jpg" alt="arte">
                    <div class="info-modalidades">
                        <h3>arte</h3>
                        <p>
                            El arte en la escuela es una disciplina que ayuda a los estudiantes a desarrollar habilidades y conocimientos, ya descubrir su lado artístico
                        </p>
                    </div>
                </div>                
                <div class="modalidades">
                    <img src="/css/imagenes/modalidadesMusica.jpg" alt="musica">
                    <div class="info-modalidades">
                        <h3>música</h3>
                        <p>
                            La música es el arte de combinar sonidos y silencios para crear deleite y conmover la sensibilidad.
                        </p>
                    </div>
                </div>

                <div class="modalidades">
                    <img src="/css/imagenes/modalidadesMultimedia.jpg" alt="multimedia">
                    <div class="info-modalidades">
                        <h3>multimedia</h3>
                        <p>
                            Multimedia es la combinación de diversos medios, como texto, imágenes, sonidos, animación y video, para transmitir información.
                        </p>
                    </div>
                </div>
                
                <div class="modalidades">
                    <img src="/css/imagenes/modalidadesAcademica.jpg" alt="academica">
                    <div class="info-modalidades">
                        <h3>académico</h3>
                        <p>
                            se caracteriza por ofrecer una educación integral y general que profundiza en áreas científicas, tecnológicas y humanísticas.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="secciones">
            <div id="contenedor-carrusel">

                
                <div class="elementos-carrusel" id="elementos-carrusel-1">

                    <img src="/css/imagenes/cambiar1.jpg" alt="imagen-carrusel-1">
                    <a href="#elementos-carrusel-9" class="boton-atras">&#60</a>
                    <a href="#elementos-carrusel-2" class="boton-adelante">&#62</a>

                </div>
                <div class="elementos-carrusel" id="elementos-carrusel-2">

                    <img src="/css/imagenes/cambiar2.jpg" alt="imagen-carrusel-2">
                    <a href="#elementos-carrusel-1" class="boton-atras">&#60</a>
                    <a href="#elementos-carrusel-3" class="boton-adelante">&#62</a>


                </div>
                <div class="elementos-carrusel" id="elementos-carrusel-3">

                    <img src="/css/imagenes/cambiar3.jpg" alt="imagen-carrusel-3">
                    <a href="#elementos-carrusel-2" class="boton-atras">&#60</a>
                    <a href="#elementos-carrusel-4" class="boton-adelante">&#62</a>

                </div>
                <div class="elementos-carrusel" id="elementos-carrusel-4">

                    <img src="/css/imagenes/cambiar4.jpg" alt="imagen-carrusel-4">
                    <a href="#elementos-carrusel-3" class="boton-atras">&#60</a>
                    <a href="#elementos-carrusel-5" class="boton-adelante">&#62</a>

                </div>
                <div class="elementos-carrusel" id="elementos-carrusel-5">

                    <img src="/css/imagenes/cambiar5.jpg" alt="imagen-carrusel-5">
                    <a href="#elementos-carrusel-4" class="boton-atras">&#60</a>
                    <a href="#elementos-carrusel-6" class="boton-adelante">&#62</a>

                </div>
                <div class="elementos-carrusel" id="elementos-carrusel-6">

                    <img src="/css/imagenes/cambiar6.jpg" alt="imagen-carrusel-6">
                    <a href="#elementos-carrusel-5" class="boton-atras">&#60</a>
                    <a href="#elementos-carrusel-7" class="boton-adelante">&#62</a>

                </div>
                <div class="elementos-carrusel" id="elementos-carrusel-7">

                    <img src="/css/imagenes/cambiar7.jpg" alt="imagen-carrusel-7">
                    <a href="#elementos-carrusel-6" class="boton-atras">&#60</a>
                    <a href="#elementos-carrusel-8" class="boton-adelante">&#62</a>

                </div>
                <div class="elementos-carrusel" id="elementos-carrusel-8">

                    <img src="/css/imagenes/cambiar8.jpg" alt="imagen-carrusel-8">
                    <a href="#elementos-carrusel-7" class="boton-atras">&#60</a>
                    <a href="#elementos-carrusel-9" class="boton-adelante">&#62</a>

                </div>
                <div class="elementos-carrusel" id="elementos-carrusel-9">

                    <img src="/css/imagenes/cambiar9.jpg" alt="imagen-carrusel-9">
                    <a href="#elementos-carrusel-8" class="boton-atras">&#60</a>
                    <a href="#elementos-carrusel-1" class="boton-adelante">&#62</a>

                </div>


            </div>
        </section>
    </main>
    <footer id="pie-letra">
        <div id="contenedor-pie">
            <h4>redes sociales</h4>
            <div>
                <a href="https://www.facebook.com/FelixEvaristo.Mejia.A">facebook</a>
                <a href="https://www.instagram.com/centroartefelixevmej/?igsh=cXA3dWg0ZnExMThp&fbclid=IwY2xjawHD2WNleHRuA2FlbQIxMAABHSXRUFue4I-9BvQDpGW6L74Prr90l_CbtP55kdeEvLDcKL0AialNHyrPPQ_aem_FlP60EqkOKouyAw2RWyZTQ">Instagram</a>
            </div>
        </div>
    </footer>

</body>
</html>