
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#seccion-principal {
    position: relative;

    margin-bottom: 10rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--bg-color-basico);    

    border: solid 2px #000;
}
#seccion-principal div{
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: var(--bg-fondo);
}
#seccion-principal h1 {
    margin: 4rem 0 2rem 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    font-weight: 800;
}
#seccion-principal img {
    width: 100%;
    height: 100%;
    box-sizing: border-box;

}



.secciones {
    display: flex;
    justify-content: center;

    margin: 0;
    padding: 5rem 1rem;
    width: 80dvw;
    background-color: #fff;

}
.secciones h2 {
    font-size: xx-large;
    margin: 1rem 2rem;
    color: var(--bg-modalidades);
}
.secciones p {
    line-height: 2em;
    margin: 1rem 2rem;
}
.secciones img {
    width: 40%;
}





#seccion-objectivos {
    width: 95dvw;

}
#seccion-objectivos div {
    width: 30%;
}
#seccion-objectivos h3 {
    width: 90%;
    padding: 1rem 0;
    box-sizing: border-box;

    text-align: center;
    font-size: x-large;
    font-weight: 800;

    background-color: var(--bg-modalidades);
    color: var(--bg-color-basico);
    
}



footer{
    width: 100dvw;
    height: 50dvh;
    box-sizing: border-box;
    padding: 3rem 0;

    margin: auto;

    box-sizing: border-box;

    background: linear-gradient(var(--bg-color-basico), var(--bg-modalidades));
}
#contenedor-pie {
    background-color: var(--color-decorativo);
    color: var(--bg-color-basico);

    margin: 2rem;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#contenedor-pie div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#contenedor-pie h4 {
    margin: 3px 0 10px 0;
    font-weight: 800;
    letter-spacing: 2px;

}
#contenedor-pie a {
    color: var(--color-apagado);
    margin: 10px 20px;
}
#contenedor-pie a:hover {
    color: var(--bg-color-basico);
}








@media (max-width: 350px) {
    .secciones__contenedor-informacion {
        text-align: center;
        
    }
}
@media (max-width: 750px) {
    body {
        width: 100dvw;
    }
        
    #seccion-principal h1 {
        font-size: x-large;
    }
    .secciones {
        width: 100dvw;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .secciones img {
        margin: 10px;
        width: 90%;
    }
    #seccion-objectivos div {
        width: 80%;
        margin: 2rem;
    }

    
    #contenedor-pie {
        width: 100dvw;
        margin: 0;

        flex-direction: column;
        justify-content: end;
    }
    #contenedor-pie div {
        margin: 10px 0;
        width: 100%;
    }

}